<h1>Users#new</h1>
<h3 style="color:red;">
	 <%= flash[:alert] if flash[:alert] %> 

</h3>

<div class = 'div-login'>
	<%= form_tag '/login' do %>

	  Email: <%= text_field_tag :email %> <br> <br>
	  Password: <%= password_field_tag :password %> <br> <br>
	  <%= submit_tag "Login", :class => 'login-button' %>

	<% end %>
</div>





<h1>Signup!</h1>

<div class="div-user">

<% if @user && @user.errors.any? %>
	<div class='div-user-error'>
	<% @user.errors.full_messages.each do |t| %> <br>
		<%= t %>
	<% end %>
	</div>
<% end %>

<%= form_for :user, url: '/users' do |f| %>

  First Name: <%= f.text_field :first_name %> <br> <br>
  Last Name: <%= f.text_field :last_name %> <br> <br>
  Email: <%= f.email_field :email %> <br> <br>
  Password: <%= f.password_field :password %> <br> <br>
  Password Confirmation: <%= f.password_field :password_confirmation %> <br> <br>
  <%= f.submit "Create User", :class => 'login-button' %>

</div>

<% end %>

