<!DOCTYPE html>
<html>
<head>
  <title>BlackBelt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='header col-md-3 pull-right'>
  <% if request.env['PATH_INFO'] == '/' or  request.env['PATH_INFO'] == '/login'%>


	<% elsif current_user && request.env['PATH_INFO']=='/main' %>
	  <%= link_to "Logout", '/logout' %>
  <% elsif current_user %>
    <%=link_to 'Dashboard', '/main' %> | <%= link_to "Logout", '/logout' %>
	<% else %>
	  <%= link_to 'Login', '/signup' %> | <%= link_to 'Signup', '/signup' %>
	<% end %>
</div>
<div id="main-container" class="container">
  <div class="row">

    <div class="col-xs-9">
      <br> <br><br>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
