<!DOCTYPE html>
<html>
<head>
  <title>BlackBelt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='header col-md-6 pull-right'>
	<% if current_user %>
	  Signed in as <%= current_user.first_name %> <%=current_user.last_name%> | <%= link_to "Logout", '/logout' %>
	<% else %>
	  <%= link_to 'Login', '/signup' %> | <%= link_to 'Signup', '/signup' %>
	<% end %>
</div>
<div id="main-container" class="container">
  <div class="row">

    <div class="col-xs-9">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
